* {
	-webkit-transition: all 0.5s; /* Safari prior 6.1 */
	transition: all 0.5s;
	color: #ffffff;
}

body {
	background-color: black;
	margin: 0;
	padding: 0;
}

#error-container {
	background-color: #ff6262;
	margin: 0.6rem;
	padding: 0.2rem;
	text-align: center;
	color: black;
	opacity: 0;
	overflow: hidden;
}

#success-container {
	background-color: #b5ff84;
	margin: 0.6rem;
	padding: 0.2rem;
	text-align: center;
	color: black;
	overflow: hidden;
	opacity: 0;
}

.navbar {
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ff416c;
}

.navbar li {
	float: left;
	border-right: 1px solid rgb(0, 0, 0);
}

.navbar li:last-child {
	border-right: none;
}

.navbar li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar li a:hover:not(.active) {
	background-color: #111;
}

.navbar .active {
	background-color: #1a1a1a;
}

.container {
	padding: 10px;
	padding-top: 2rem;
}

input {
	border: none;
	height: 2rem;
	border-radius: 6px;
	min-width: 300px;
	font-size: 1em;
	color: #1a1a1a;
	padding: 10px;
	margin: 10px;
}

input[type=submit] {
	padding: 5px;
	background-color: black;
	cursor: pointer;
}

@media (max-width: 575.98px) {
	html {
		font-size: 0.6em;
	}
	.navbar li a {
		padding: 10px 10px;
	}

	input {
		height: 1.8rem;
		width: auto;
		min-width: 100%;
		margin: 6px;
	}
}

/* // Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... } */
